<div class="fl-pager list-table">
    <table class="flc-pager-body-template fl-pager-data" xmlns:rsf="http://ponder.org.uk">
        <thead class="flc-pager-body-template-content">
            <tr class="csc-listView-headers" rsf:id="header:">
                <th class="flc-pager-sort-header">
                    <a class="csc-listView-header-link cs-listView-header-link" rsf:id="number" href="#"></a>
                </th>
                <th class="flc-pager-sort-header">
                    <a class="csc-listView-header-link cs-listView-header-link" rsf:id="summary" href="#"></a>
                </th>
                <th class="flc-pager-sort-header">
                    <a class="csc-listView-header-link cs-listView-header-link" rsf:id="summarylist.updatedAt" href="#"></a>
                </th>
            </tr>
        </thead>
        <tbody class="csc-listView-rows">
            <tr class="csc-listView-row cs-listView-row" rsf:id="row:" id="row">
                <td class="csc-listView-column" rsf:id="number"></td>
                <td class="csc-listView-column" rsf:id="summary"></td>
                <td class="csc-listView-column" rsf:id="summarylist.updatedAt"></td>
            </tr>
        </tbody>
    </table>
    <ul id="pager-bottom" class="fl-pager-ui flc-pager-bottom">
        <li class="flc-per-page">
            <span class="csc-listView-show"></span> 
            <span>
                <select class="flc-pager-page-size csc-listView-page-size"><option value=""></option></select>
            </span>
            <span class="csc-listView-perPage"></span>
        </li>
        <li class="flc-pager-previous">
            <a class="csc-listView-previous" href="#"></a>
        </li>
        <li>
            <ul class="pager-links fl-pager-links flc-pager-links csc-listView-links">
                <li class="flc-pager-pageLink"><a href="#"></a></li>
            </ul>
        </li>
        <li class="flc-pager-next">
            <a class="csc-listView-next" href="#"></a>
        </li>
        <li class="flc-pager-summary"></li>
    </ul>
    <div class="clear"></div>
</div>